.form-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  .form-input-wrapper {
    margin-bottom: 10px;
  }
  .label-error {
    color: #f54c3d;
    margin-bottom: 10px;
  }
  .form-submit-button {
    margin: 20px 0;
  }
}