html {
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &:before, &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: 600;
}

input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  height: 100%;
  background: white;
  margin: 0;
  font-family: Roboto sans-serif;
  font-weight: normal;
  padding: 0;
  font-size: 13px;
  line-height: 1.471;
  overflow-x: hidden;
}

h1, .h1, h2, .h2, h3, .h3, p, ::placeholder {
  margin: 0;
}

*{
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  outline: 0;
  &:visited, &:focus, &:active {
    outline: 0;
  }
}

:visited, :focus, :active {
  outline: 0;
}

.main-wrapper {
  min-height: calc(100vh - 66px);
  width: 100%;
}

.global-notification {
  position: absolute;
  z-index: 10000;
  min-width: 250px;
  padding: 10px 20px;
  top: 30px;
  border-radius: 5px;
  right: -70%;
  &.opened {
    transition: .4s;
    right: 30px;
  }
  &.error{
    background-color: #ffe2e2;
    color: #dc3545;
    i {
      color: #ff9c9c;
    }
  }
  &.success {
    background-color: #dfffd0;
    color: #30992d;
    i {
      color: #30992d;
    }
  }
  i {
    font-size: 16px;
    position: absolute;
    right: 10px;
    color: #ff9c9c;
    cursor: pointer;
  }
  ul {
    max-width: 190px;
  }
}

.loader-wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  background-color: rgba(0,0,0,0.5);
  color: white;
  .loader-icon {
    font-size: 25px;
  }
}

.hl{
  height: 1px;
  width: 100%;
  background-color: #D1D1D1;
  margin: 20px 0 30px;
}
.vl{
  width: 1px;
  height: 100%;
  background-color: #D1D1D1;
  margin: 0 35px;
}


input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-weight: bold;
}

input::-moz-placeholder { /* Firefox 19+ */
  font-weight: bold;
}

input:-ms-input-placeholder { /* IE 10+ */
  font-weight: bold;
}

input:-moz-placeholder { /* Firefox 18- */
  font-weight: bold;
}
