.header-wrapper {
  background-color: $light-gray;
  ul {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
    li {
      margin: 0 15px;
      a {
        color: $black;
        font-size: 16px;
      }
    }
  }
}