.page-wrapper {
  height: 100vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  &.login {
    justify-content: center;
    margin-top: -80px;
    width: 300px;
  }
  .header {
    margin: 40px;
  }
}


.login {
  .logo-wrapper {
    margin: 40px;
  }
}
.date-picker {
  position: absolute;
  right: 0;
  background-color: white;
}